.searchWrap {
  display: flex;
  flex-direction: column;
  border: 1px solid #226160;
  border-radius: 8px;
  padding: 15px;
  width: 400px;
  margin-bottom: 20px;
  background: #226160;
  color: #ffffff;
}
.searchLabel {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 5px;
}
.searchInput {
  height: 40px;
  border: 2px solid #226160;
  border-radius: 4px;
  padding-left: 8px;
  font-weight: 300;
  font-size: 18px;
}
.searchInput:hover {
  border: 2px solid #a95f4d;
}
