.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #198b8781;
}
.link:hover {
  scale: 1.1;
}

.link.active {
  color: #23b9b4;
}
.link.active:hover {
  scale: 1.1;
}
