.backdrop {
  position: fixed;
  z-index: 10;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}
.modal {
  background: #2f4f4f;
  width: 400px;
  overflow: auto;
  padding: 20px;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.text {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 15px;
}
.name {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 30px;
  color: #ff4500;
}
.wrapBtn {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btn {
  background-color: #56382d86;
  height: 40px;
  width: 150px;
  border: 1px solid #655247;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 300;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  border-radius: 50px;
  box-shadow: 0px 4px 6px 2px #0a1828;
}
