.contactListItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #56453e;
  border-radius: 8px;
  padding: 15px;
  width: 300px;
  height: 100px;
  background: #56453e;
  color: #ffffff;
  box-shadow: 4px 4px 6px 4px #a27f64;
}
.icon {
  vertical-align: middle;
  color: #ffffff;
}
.name {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}
.number {
  font-weight: 500;
  font-size: 20px;
}
.btnDel {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  height: 30px;
  width: 30px;
  color: #ffffff;
  border-radius: 50px;
  transition: 0.4s;
}
.btnDel:hover {
  background-color: #ffffff;
  color: #56453e;
}
.btnEdit {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  height: 30px;
  width: 30px;
  color: #ffffff;
  border-radius: 50px;
  transition: 0.4s;
}
.btnEdit:hover {
  background-color: #ffffff;
  color: #56453e;
}
