.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #65524785;
}
.link:hover {
  color: #a27f64;
}
.link.active {
  color: #655247;
}
.link.active:hover {
  color: #a27f64;
}
