.startedTitle {
  color: #bfa181;
  margin: 20px 0 0 0;
}
.startedText {
  font-weight: 400;
  font-size: 20px;
  color: #bfa181;
  margin-bottom: 30px;
}
.prompt {
  font-weight: 400;
  font-size: 20px;
  color: #bfa181;
}
.link {
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: #0000ff93;
}
.link:hover {
  text-decoration: underline;
}
