:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #0a1828;
}
body {
  margin: 0;
  padding: 20px;
}
h1 {
  font-size: 48px;
  line-height: 1.2;
  margin: 0;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
button {
  cursor: pointer;
  outline: transparent;
}
