.wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.userName {
  font-weight: 700;
  font-size: 20px;
  color: #23b9b4;
  margin-right: 15px;
}
.btnAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f4f4f;
  width: 40px;
  height: 40px;
  border: 1px solid #2f4f4f;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 300;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
.btnAvatar:hover {
  scale: 1.2;
}
